body {
  margin: 0;
  --font-colour: var(--light-font);
  --font-secondary: var(--dark-font);
  font-family: var(--font);
}

body.dark-mode {
  margin: 0;
  --font-colour: var(--dark-font);
  --font-secondary: var(--light-font);
  font-family: var(--font);
  --bs-primary: #0b55a4;
  color: var(--font-colour);
}

section {
  scroll-margin-top: 80px;
}
