.about-section {
    background: var(--light-font);
    font-family: var(--font);
    color: var(--font-secondary);
}

.about-section h1 {
    font-weight: 700;
    font-size: 2.2rem;
}

.about-section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.about-image {
    position: relative;
    overflow: hidden;
    max-width: 90%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.about-img::after {
    position: absolute;
    content: "";
    width: 105%;
    height: 105%;
    top: 0;
    left: 0;
    background: url(../../img/bg-about-img.png) top left no-repeat;
    background-size: contain;
}

.about-goals h6 {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.about-buttons a {
    transition: all 0.3s ease;
}

.about-btn:hover {
    cursor: default;
}

.about-buttons a:hover {
    transform: translateY(-2px);
}

.social-btn {
    border-radius: 10rem;
}

@media (max-width: 992px) {
    .about-section {
        text-align: center;
    }
    .about-image {
        width: 80%;
        margin-bottom: 1.5rem;
    }
    .about-buttons {
        justify-content: center;
    }
}
