.hero-header {
    margin-top: -75px;
    background: var(--bs-primary);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: var(--font);
    color: var(--font-colour);
}

.hero-header h1 {
    font-weight: 700;
    font-size: 3.5rem;
}

.hero-header p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: var(--font);
}

.hero-header .btn {
    transition: all 0.3s ease;
    font-family: var(--font);
}

.hero-header .btn:hover {
    transform: translateY(-2px);
}

@media (max-width: 992px) {
    .hero-header h1 {
        font-size: 2rem;
    }
    .hero-header {
        text-align: center;
    }
    .hero-header img {
        width: 80%;
    }
}
